<ion-content class="ion-padding">

  <!-- PRESUPUESTO -->
<ion-card>
    <ion-card-header>
      <ion-card-title>Presupuesto</ion-card-title>
    </ion-card-header>

  <ion-card-content>

    <h2 class="budget-amount">$450.000</h2>

    <div class="budget-container">

      <!-- gráfico -->
      <div class="pie-chart"></div>

      <!-- mascota: el diseno de la mascota deberia cambiar segun el dinero restante-->
      <div class="mascot-container">
        <img src="assets/images/placeholder-mascota.avif" alt="Mascota">
      </div>

    </div>

  </ion-card-content>
</ion-card>

  <!-- metas: listado de metas de ahorro -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Metas</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h2>Viaje: $1.200.000</h2>

      <ion-progress-bar value="0.6"></ion-progress-bar>
      <p>60% de tu meta</p>
    </ion-card-content>
        <ion-card-content>
      <h2>Pagar tarjeta: $500.000</h2>

      <ion-progress-bar value="0.3"></ion-progress-bar>
      <p>60% de tu meta</p>
    </ion-card-content>
  </ion-card>

  <!-- gastos: listado de gastos por categoría -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gastos por categoría</ion-card-title>
    </ion-card-header>

    <ion-list>
      <ion-item>
        <ion-label>🍔 Comida</ion-label>
        <ion-note slot="end">$120.000</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>🚗 Transporte</ion-label>
        <ion-note slot="end">$80.000</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>🏠 Vivienda</ion-label>
        <ion-note slot="end">$200.000</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>💊 Emergencias</ion-label>
        <ion-note slot="end">$50.000</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>🎮 Ocio</ion-label>
        <ion-note slot="end">$70.000</ion-note>
      </ion-item>

      <ion-item button routerLink="/transactions">
        <ion-label  class="ion-text-center" color="primary">
          Ver todos los movimientos
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-card>

</ion-content>

<!-- BOTONERA -->
<ion-footer>
  <ion-toolbar>

    <ion-buttons>

      <ion-button>
        Resumen
      </ion-button>

      <ion-button>
        Nuevo movimiento
      </ion-button>

      <ion-button>
        Metas
      </ion-button>

      <ion-button>
        Perfil
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-footer>